APP_NAME=BlueAlert Backend
LOG_LEVEL=INFO

# Firebase settings will be added later.
FIREBASE_DATABASE_URL=https://bluealert-cee60-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_CREDENTIALS_PATH=secrets/serviceAccountKey.json
